<div id="heraldPartyhud" class="heraldPartyhud">
  <div id="heraldPartyhud-container" class="heraldPartyhud-container">
    <div class="heraldPartyhud-partyButtonContainer">
      <div
        id="heraldPartyhud-partyCollapseContainer"
        class="heraldPartyhud-partyCollapseContainer"
      >
        <i class="fa-solid fa-caret-down" ></i>
      </div>
      <div
        id="heraldPartyhud-selectPartyButton"
        class="heraldPartyhud-selectPartyButton"
      >
        <i class="fa-solid fa-list" ></i>
      </div>
      <div
        id="heraldPartyhud-npcCollapseContainer"
        class="heraldPartyhud-npcCollapseContainer"
      >
        <i class="fa-solid fa-expand" ></i>
      </div>
      <div
        id="heraldPartyhud-lockPositionButton"
        class="heraldPartyhud-lockPositionButton"
      >
        <i class="fa-solid fa-unlock" ></i>
      </div>
    </div>
    <div
      id="heraldPartyhud-partyContainer"
      class="heraldPartyhud-partyContainer"
    ></div>
  </div>
</div>
