<div id="heraldPartyhud" class="heraldPartyhud">
  <div id="heraldPartyhud-container" class="heraldPartyhud-container">
    <div class="heraldPartyhud-partyButtonContainer">
      <div
        id="heraldPartyhud-selectPartyButton"
        class="heraldPartyhud-selectPartyButton"
      ></div>
      <div
        id="heraldPartyhud-buttonCollapseContainer"
        class="heraldPartyhud-buttonCollapseContainer"
      >
        <div
          id="heraldPartyhud-partyCollapseContainer"
          class="heraldPartyhud-partyCollapseContainer"
        >
          <i class="fa-solid fa-caret-down" style="margin-left: 1px"></i>
        </div>
        <div
          id="heraldPartyhud-npcCollapseContainer"
          class="heraldPartyhud-npcCollapseContainer"
        >
          <i class="fa-solid fa-expand" style="margin-left: 1px"></i>
        </div>
      </div>
    </div>
    <div
      id="heraldPartyhud-partyContainer"
      class="heraldPartyhud-partyContainer"
    ></div>
  </div>
</div>
